/* header */

.main-nav{
    position: relative;
    padding: 1rem 0;
    width: 100%;
}

.components-links{
    flex: 1;
    position: relative;
    gap: 1.5rem;
    display: flex;
    justify-content:center;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width:1023px){
    .components-links{
        flex-direction: column;
        position: absolute;
        top:70px;
        left: 0;
        right: 0;
        background: #c0cddd;
        text-align: center;
        padding: 2rem ;
        transition: transform .3s ease-in-out;
        transform-origin: top center;
    }
    .hidden-nav{
        transform: scale3d(1,0,1);
    }
}

.components-links li{
    position: relative;
    transition:color .3s ease-in-out;
}

.components-links li:after{
    content: '';
    position: absolute;
    top:-0.5rem;
    left:-0.5rem;
    width:calc(100% + 1rem);
    height: calc(100% + 1rem);
    background-color: var(--tomato);
    transition: transform .2s linear;
    transform: scale3d(1,0,1);
    transform-origin: center bottom;
    z-index: -1;
}


.components-links li:hover{
    color: #fff ;
}
.components-links li:hover:after{
    transform: scale3d(1,1,1);
}

.nav__options{
    gap: 1.5rem;
    color:var(--tomato);
    font-size: 1rem;
    display: none;
}
.nav__options li{
    transition: color .3s linear;
    font-weight: 700;
}

nav a{
    gap: .5rem;
    transition: opacity .3s ease-in-out;
}

nav a[href='#sign']{
    color:var(--tomato);
}

nav a[href='#post']{
    color: #fff;
    background-color:var(--tomato);
}

nav .nav-btns a[href='#post']{
    font-size: 14px;
}

nav a:hover{
    opacity: .7;
}

.nav-btns{
 gap: 1rem;
}

.nav-btn{
    font-size: 1.5rem;
    opacity: .8;
}

@media (min-width:1024px){
    .components-links,
    .nav__options{
        display: flex;
    }
    .nav-btns{
        display:none;
    }
}

@media (min-width:1200px){
    .components-links{
        gap:56px;
    }
}

/* ------------------- hero ----------------*/

.hero{
    min-height: 542px;
    padding:32px 0;
    background: center / cover no-repeat url(../images/mobile-cover.png) #c0cddd;
}

.hero__intro h1{
    font-size:32px;
    margin-bottom:14px;
    line-height: 1.5;
}

.hero__intro p{
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 2;
}

.hero__form__top{
    gap: 1rem;
    margin-bottom: 21px;
}

.hero__form__top button{
    min-width: 40px;
}

.hero__form__top button:not(.bg-tomato){
    background: #fff;
    color: var(--black-500);
}

.hero__form__bottom > div{
    height: 56px;
    border-radius: 56px;
}

.hero__form__bottom div.feild-wrapper{
    position: relative;
    overflow: hidden;
    background: #fff;
    margin-bottom: 12px;
}

.hero__form__bottom input{
    padding: 1.1rem 65px 1rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

@media (max-width:800px){
    .hero__form__bottom div:has(input:focus){
        box-shadow: 1px -1px 15px 2px #e937408e;
    }
}

.hero__form__bottom input::placeholder{
    font-size: 14px;
    opacity: .5;
}

.hero__form__bottom > .feild-wrapper i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 1.2rem;
    opacity: .6;
}
.hero__form__bottom .left-icon{
    left: 32px;
}
.hero__form__bottom .right-icon{
    right:25px;
}

.hero__form__bottom button{
    font-weight: 700;
}
.hero__form__bottom .submit{
    cursor: pointer;
    transition: background-color .3s ease-in-out , color .3s ease-in-out;
}
.hero__form__bottom .submit:hover{
   background: #fff;
   color:var(--tomato);
}

@media (min-width:800px){

    .hero{
        min-height: 350px;
        padding:90px 0;
        background: center / cover no-repeat url(../images/hero.png) #c0cddd;
    }

/* top */

    .hero__form__top{
        margin-bottom: 25px;
    }

    .hero br{
        display: none;
    }

/* bottom */

    .hero__form__bottom{
        display: flex;
        align-items: center;
        background-color: #fff;
        max-width: fit-content;
        padding: .5rem 32px .5rem 0;
        border-radius: 56px;
        overflow: hidden;
        margin: auto;
        max-width: 795px;
    }

    .hero__form__bottom:has(input:focus){
        box-shadow: 1px -1px 15px 2px #e937408e;
    }

    .hero__form__bottom input::placeholder{
        font-size:1rem;
    }
    .hero__form__bottom > div{
        height: 96;
        border-radius:96px;
    }
    .hero__form__bottom > div.search{
        border-radius:0;
        border-right: 1px solid var(--gray-600);
    }
    .hero__form__bottom > div.custom-select{
        border-radius:0;
    }
    .hero__form__bottom > div.submit {
        width: 55px;
        height: 55px;
        border-radius:50%;
    }
    .hero__form__bottom > div.submit button{
        font-size: 1.2rem;
    }
    .hero__form__bottom > div.submit span{
        display: none;
    }   
}


@media (min-width:1200px){
    .hero{
        min-height: 600px;
        padding:120px 0;
        background: center / cover no-repeat url(../images/hero.png) #c0cddd;
    }
}

@media (min-width:1900px){
    .hero{
        min-height: 800px;
        padding:180px 0;
        background: center / cover no-repeat url(../images/hero.png) #c0cddd;
    }
}

/* ------------------------------------ Browse ------------------ */
.cartegories{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}
.cartegory{
    gap: .5rem;
    padding: 4px 10px 2px 5px;
    border: 1px solid var(--gray-600);
    border-radius:100px;
}

.cartegory.target{
    background: #fff;
    box-shadow: -1px 1px 15px 2px #eee, 
                1px -1px 15px 2px #eee;
}

@media (max-width:630px){
    .cartegories{
        justify-content: flex-start;
    }
    .cartegory{
        flex: 1;
        min-width: 100%;
    }
}

.cartegory div{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    font-size: 1.3rem;
    transition: transform .3s ease-in-out;
    transform-style: preserve-3d;
}

.cartegory:hover > div{
    transform:rotateZ(360deg)scale3d(1.1,1.1,1.1);
}


.cartegory h3{
    flex: 1;
    white-space: nowrap;
}

[data-color='pink'] > div{
    color:#E93740;
    background-color:#FDEBEC;
}
[data-color='green'] > div{
    color:#77B747;
    background-color:#e5fbd9;
}
[data-color='mouve'] > div{
    color:#A54A95;
    background-color:#F6EDF4;
}
[data-color='blue'] > div{
    color:#2D7BC0;
    background-color:#EAF2F9;
}
[data-color='orange'] > div{
    color:#F68235;
    background-color:#FEF3EB;
}

.cartegoriy h3{
    font-size: 1.25rem;
    font-weight: 500;
    color: #1C1C1C;
}
/* ----------------------- features ----------------*/

/* - features header -*/

.features__header .btns{
    position: relative;
    max-width: 100%;
    gap: .75rem;    
    overflow: hidden;
    margin-bottom: 31px;
    justify-content: center;
}

.features__header .navigater{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background-color: var(--gray-600);
    box-shadow: 5px -5px 5px 20px #fff;
    border-radius: 50%;
    font-size: 1.2rem;
}

a.btn{
    background-color: var(--gray-600);
    padding: 12px 24px;
}

a.btn.current{
    color: #fff;
    background-color: var(--tomato);
}

/* - features body -*/

.feature{
    width:100%;
    --feature-padding:5px;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
}

@media (max-width:639px){
    .feature:not(:last-of-type){
        margin-bottom: 24px;
    }
}

.feature__header{
    position: relative;
    margin-bottom: 16px;
}

.feature__header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#2d7bc01f;
    z-index:-1;
}

.feature__header a{
    position: absolute;
    top:16px;
    right:16px;
    width: 108px;
    height: 37px;
    color: #fff;
    background-color: #77B747;
    font-size: .75rem;
    z-index: 1;
    cursor: pointer;
    transition: box-shadow .5s ease-in-out;
}

.feature:hover{
    background:#c0cddd;
}
.feature:hover a{
    box-shadow: 1px -1px 10px 0px #fff,
                -1px 1px 10px 0px #fff;
}
.feature:hover .profile-love i{
    color: #E93740;
}

.feature__header [data-color='pink']{
    background-color:#E93740;
}
.feature__header [data-color='green']{
    background-color:#77B747;
}
.feature__header [data-color='mouve']{
    background-color:#A54A95;
}
.feature__header [data-color='blue']{
    background-color:#2D7BC0;
}
.feature__header [data-color='orange']{
    background-color:#F68235;
}
.feature__header a[data-color='cyan']{
    background-color: darkcyan;
}

.feature__header img{
    width: 100%;
    height: 100%;
}


/* body  */

.feature__body{
    padding: 0 var(--feature-padding);
    border-left: 1px solid var(--gray-600);
    border-right: 1px solid var(--gray-600);
}

.feature__plan{
    color: var(--tomato);
    margin-bottom: 8px;
}

.feature__plan span{
    font-size: .75rem; 
    color: var(--black-500);
}

.feature__title{
    font-size: 1.25rem;
    margin-bottom: 16px;
}

.feature__advantages{
    font-weight: 400;
    margin-bottom: 24px;
    gap: 1.5rem;
    font-size: .75rem;
}

.feature__advantages span{
    flex: 1;
    white-space: nowrap;
}

.feature__advantages span:not(:last-of-type){
    border-right: 1px solid var(--black-500);
}

/* footer */

.feaure__footer{
    padding: 24px;
    padding: var(--feature-padding);
    border: 1px solid var(--gray-600);
}

.profile{
    width: fit-content;
    gap: 1rem;
}

.profile__name{
    font-size: .88rem;
    font-weight: 600;
}

.profile__job{
    font-weight: 400;
    font-size: .75rem;
    margin-top:4px;
}

.profile-love{
    width: 44px;
    height: 44px;
    font-size: 1.2rem;
    background: #eee;
    border-radius: 6px;
}

.feature:hover .profile-love i{
    transition: color .5s ease-in-out;
}

/* footer */

.features__footer{
    margin-top:24px;
}

.features__footer button{
    width: 100px;
    transition: width .3s linear , background-color .3s linear;
}

.features__footer:hover button{
    width:90%;
    background-color: #2D7BC0;
}

@media (min-width:640px){

    .features__header .btns{
        margin-bottom: 65px;
    }

    .features__body{
        display: flex;
        flex-wrap: wrap;
        gap: 60px .5rem;
    }
    .feature{
        flex: 1;
        max-width: 520px;
    }
    .feature__advantages{
        gap: 1rem;
    }
}

@media (min-width:1400px){
    .feature{
        --feature-padding:1rem;
    }
    .feature__header a{
        top:24px;
        right:24px;
    }
    .feature__header{
        margin-bottom: 24px;
        font-size: .88rem;
    }
    .feature__title{
        margin-bottom: 24px;
        font-size:1.50rem;
    }
    .feature__plan{
        font-size: 1.25rem;
    }
    .feature__plan span{
        font-size: 1rem;
    }
    .feature__advantages{
        font-size: 1rem;
    }
    .profile__name{
        font-size: 1.25rem;
    }
    .profile__job{
        font-size: .88rem;
    }
    .features__footer{
        margin-top:48px;
    }
}

@media (min-width:1800px){
    .feature{
        min-width: 500px;
    }
}

/* --------------------- performance -------------------*/

.performance{
   padding: 24px 0;
   background-color: #F4F4F4;
}

.performance h2{
    margin-bottom: 24px;
}

.performance_inset-header{
    display: none;
}

.performance_inset-header h2{
    text-align: start;
    font-size: 35px;
    font-weight: 700;
    max-width: 250px;
}

.metrics{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.metric{
    flex: 1;
    width: 100%;
    min-width: 200px;
    min-height: 166px;
    margin:0 auto 1rem;
    border-radius: 1rem;
    background: #1C1C1C;
    color: #fff;
    border: 2px solid #1C1C1C;
    transition: background-color .3s ease-in-out , color .3s ease-in-out;
}

.metric:hover{
    background: #fff;
    color: #000;
}
.metric:hover h3{
    color: inherit;
}

.metric p{
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 12px;
    color: inherit;
}

.metric h3{
    font-size: 14px;
    font-weight: 400;
    color:#e8e8e8d1;
}


@media (min-width:760px){
    .metrics{
        display: flex;
        gap: .5rem;
    }
    .metric{
        max-width: 381px;
        min-width: unset;
    }
}


@media (min-width:900px){
    .metric p{
        font-size: 40px;
        font-weight: 700;
    }
    .metric h3{
        font-size: 1rem;
    }
}

@media (min-width:1200px){
    .container--performance{
        display: flex;
        gap: 1rem;
    }
    .performance{
        padding: 80px 0 94px;
    }
    .performance__header{
        display: none;
    }
    .performance__header h2{
        margin-bottom: 48px;
    }
    .performance_inset-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .metric{
        min-height: 200px;
    }
}

@media (min-width:1600px){
    .metric{
        min-height: 244px; 
    }
}

@media (min-width:1900px){
    .metric{
        min-width: 381px;
    }
    .metrics{
        display: flex;
        gap: 1rem;
    }
    .performance_inset-header h2{
        font-size: 50px;         
        max-width: 350px;
    }
}